.main {
	text-align: center;
}

table, td {
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}

td:has([type="submit"]) {
	text-align: center;
}

.td-name {
	background-color: orange;
}