.text-center {
	text-align: center;
}

table {
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.name-td {
	background-color: orange;
}

.signup-btn {
	text-align: center;
}